.project-container{
  position: relative;
  width:100%; 
  border-radius:5px; 
}

.project-container-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.project-container .tag{
  color: white;
  font-size: 125%;
  position: absolute;
  top: 10px;
  right: 10px;
}

.project-container .project-title{
  color: white;
  font-size: 200%;
}


.profile-pic-container img{
  width: 200px;
  height: 200px;
  border-radius: 100px;

  float:none;
  display:inline-block;
  vertical-align:middle;
  margin-right:-4px;
}

.contact-actions a{
  font-size:20px;
  width:42px;
}

.info h3{
  margin: 0px;
}

.info .lead{
  margin:0px;
}


.grid {
  max-width: 69em;
  list-style: none;
  margin: 30px auto;
  padding: 0;
}

.grid li {
  display: block;
  float: left;
  padding: 7px;
  width: 33%;
  opacity: 0;
}

.grid li.shown,
.no-js .grid li,
.no-cssanimations .grid li {
  opacity: 1;
}

.grid li a,
.grid li img {
  outline: none;
  border: none;
  display: block;
  max-width: 100%;
}

/* Effect 6: flip (based on http://lab.hakim.se/scroll-effects/ by @hakimel) */
.grid.effect-6 {
  -webkit-perspective: 1300px;
  perspective: 1300px;
}

.grid.effect-6 li.animate {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-transform: rotateX(-80deg);
  transform: rotateX(-80deg);
  -webkit-animation: flip .8s ease-in-out forwards;
  animation: flip .8s ease-in-out forwards;
}

@-webkit-keyframes flip {
  0% { }
  100% { -webkit-transform: rotateX(0deg); opacity: 1; }
}

@keyframes flip {
  0% { }
  100% { -webkit-transform: rotateX(0deg); transform: rotateX(0deg); opacity: 1; }
}


.red{
  background-color: #f44336;
}
.pink{
  background-color: #e91e63;
}
.purple{
  background-color: #9c27b0;
}
.deep-purple{
  background-color: #673ab7;
}
.indigo{
  background-color: #3f51b5;
}
.blue{
  background-color: #2196f3;
}
.light-blue{
  background-color: #03a9f4;
}
.cyan{
  background-color: #00bcd4;
}
.teal{
  background-color: #009688;
}
.green{
  background-color: #4caf50;
}
.light-green{
  background-color: #8bc34a;
}
.lime{
  background-color: #cddc39;
}
.yellow{
  background-color: #ffeb3b;
}
.amber{
  background-color: #ffc107;
}
.orange{
  background-color: #ff9800;
}
.deep-orange{
  background-color: #ff5722;
}
.brown{
  background-color: #795548;
}
.grey{
  background-color: #9e9e9e;
}
.blue-grey{
  background-color: #607d8b;
}